/* sezione banner*/
body {
    margin: 0;
    padding: 0;
}

section{
    background-color: rgb(60, 157, 248);
    height:100px;
    height:150px;
    background-image: url('../img/pattern.png');
    background-position-y: top;
 }

 #logo{
    width: 15%;
    margin: 55px 10px;
    height: 45%;
    margin-top: 75px;
    margin-left: 10px;
 }

 /* body */

 main {
    margin-top: -10px;
    padding: 5px;
}

span {
    color:rgb(60, 157, 248);
}

figure {
    margin-left: 0px;
}

ul {
    margin-left: -25px;
}