/* generics */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

body {
    font-family: 'Playfair Display', serif;
}

.heading, article {
    margin: 20px 0;
}

/* utilities */
.w50 {
    width: 50%;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.text-grey {
    color:  rgb(85, 85, 85);
}

.text-lightblue {
    color:rgb(60, 157, 248);
}

.text-white {
    color: rgb(255, 255, 255);
}

.bgc-blue {
    background-color: rgb(33, 147, 253);
}

/* header */
#main-header{
    background-color: rgb(60, 157, 248);
    background-image: url('../img/pattern.png');
    background-size: 25%;
    height:100px;
    line-height:100px;
 }

 #logo{
    vertical-align: middle;
    height: 50px;
 }
 .time, figcaption {
    font-size: 12px;
}

 /* main */
ul {
    margin-top: 20px;
    padding-inline-start: 20px;
    list-style-position: outside;
}
table {
    border-collapse: collapse;
}

tr {
    text-align: left;
    background-color: skyblue;
}

.even-row {
    background-color: rgb(255, 255, 255);
}
/* footer */
footer {
    margin-bottom: 50px;
}
.related-article{
    margin-top: 20px;
    padding: 10px;
    width: 210px;
    height: 160px;
    background-image: url('../img/monitor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 .related-article2{
    margin: 20px 0;
    padding: 10px;
    width: 210px;
    height: 160px;
    background-image: url('../img/graph.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }