/* sezione banner*/
body {
    margin: 0;
    padding: 0;
    width: 1080px;
    margin: 0 auto;
}

section{
    background-color: rgb(60, 157, 248);
    height:100px;
    height:150px;
    background-image: url('../img/pattern.png');
    background-position-y: top;
 }

 #logo{
    width: 15%;
    margin: 55px 10px;
    height: 45%;
    margin-top: 75px;
    margin-left: 10px;
 }

 /* body */

 main {
    margin-top: -10px;
    padding: 5px;
}

span {
    color:rgb(60, 157, 248);
}

figure {
    margin-left: 0px;
}

ul {
    margin-left: -25px;
}

.row1 {
    color: rgb(255, 255, 255);
    background-color: rgb(42, 170, 255);
}

.row2 {
    background-color: rgb(128, 215, 250);
}

.row3 {
    background-color: rgb(255, 255, 255);
}

.row4 {
    background-color: rgb(128, 215, 250);
}
    .left {
    display: inline-block;
    width:20%;
}

.center {
    display: inline-block;
    width:29%;
}

.right {
    display: inline-block;
    width:50%;
}